/* Universal styles */
:root {
	--primaryBackground: #fefefe;
	--blue: #316bf8;
	--darkBeige: #e6d9ce;
	--lightBeige: #f4ece6;
	--silver: #a5a4a4;
	--lightGray: #eaecee;
}

body {
	margin: 0;
	padding: 0;
    min-height: 100vh;
	font-family: "Abel", sans-serif;
	background: linear-gradient(
		to right,
		var(--darkBeige) 40%,
		var(--primaryBackground) 40%
	);
	font-size: 20px;
}

header {
	display: flex;
	flex-direction: row;
	background-color: var(--primaryBackground);
	width: 100%;
	position: static;
	justify-content: space-between;
}

header h4 {
    padding-left: 1em;
}

header div {
    display: flex;
	flex-direction: row;
	align-items: center;
    padding: 1.5vh 3vw;
}

nav {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav ul {
    margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

nav ul a {
    width: 12vw;
}

a {
	color: black;
	text-align: center;
	text-decoration: none;
	flex-direction: row;
}

a:hover {
    color: var(--blue);
}

main {
    display: flex;
	padding-top: 2vh;
	margin: 5% 3%;
	justify-content: center;
    align-items: center;
    min-height: 55vh;
}

section {
    display: flex;
	flex-direction: column;
	align-content: center;
	background-color: var(--primaryBackground);
}

img {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    margin: 3vh;
}

button {
    border: 1px solid black;
    border-radius: 16px;
    padding: 0.5em 1.5em;
    margin: 0 2vw 1vh 0;
    font-size: 1em;
    color: black;
    text-decoration: none;
}

button:hover {
    background-color: var(--blue);
    color: var(--primaryBackground);
}

button[type="submit"] {
    justify-content: center;
}

hr {
    border: 1.5px solid var(--blue);
	width: 30%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: .7em;
    margin-bottom: 2vh;
    border: 1px solid var(--silver);
    border-radius: 4px;
}

form div{
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    margin-top: auto;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primaryBackground);
    height: auto;
    width: 100%;
    padding-bottom: .5em;
    bottom: 0;
}

footer section{
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}

footer div {
    flex-direction: column;
}

footer h4 {
    margin-bottom: .5em;
}

footer div p {
    margin-top: 0;
}

footer a {
    padding: 0 .25em;
}


/* Class styles */

.fa-solid {
    color: var(--blue);
    font-size:medium;
    padding: .5vw;
}

.fa-bars{
    color: black;
}

.menu-icon {
    display: none;
}

.stylizedSec {
    width: 50vw;
    margin: auto;
    padding: 3vh 3vw 0;
    background-color: var(--primaryBackground);
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.2);
}



/* Id styles */

#form-name {
    flex-direction: row;
    justify-content: space-between;
}

#form-name div {
    width: 46%;
}

#menuToggle {
	display: none;
}

#contact-card {
	background-color: var(--lightBeige);
	text-align: center;
	justify-content: center;
	align-items: center;
	box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.2);
	width: 40vw;
	padding-top: 3vh;
}

#contact-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 2em;
	background-color: var(--primaryBackground);
	padding: 0.75vh 0;
}

#contact-icons span {
	font-size: 1.5em;
	padding: 1vh;
}

#intro {
	flex-direction: column;
    width: 40vw;
    padding: 3vh 5vw;
}


#intro h1 {
	font-size: 6em;
	font-weight: bolder;
	margin: 0;
}

#intro h2 {
	margin: 0 0 2vh;
}

#intro div {
	flex-direction: row;
}

#bioPage-main h1{
    margin: 0;
    font-size: 2em;
}

#bioPage-section {
    background-color:transparent;
    align-items: center;
}



/* mobile breakpoint */
@media screen and (max-width: 640px) {
	body {
		background: linear-gradient(
			to bottom,
			var(--darkBeige) 30%,
			var(--primaryBackground) 30%
		);
        font-size: 14px;
	}

    header {
        flex-direction: column;
    }

	header h1 {
		font-size: 1.5em;
	}

	nav {
        align-items: center;
	}

	nav ul {
		display: flex;
		flex-direction: column;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s;
	}

	nav ul a {
		text-align: left;
		background-color: var(--primaryBackground);
		width: 100%;
		height: 3em;
		padding: 0.625vh 0 0.625vh 2.5vw;
	}

	main {
		flex-direction: column;
		align-items: center;
		margin-top: inherit;
	}

	section {
		width: 75vw;
	}

	section h1 {
		font-size: 2.5em;
	}

	section h2 {
		font-size: 2em;
	}

	section p {
		font-size: 1.5em;
	}

    input[type="text"],
    input[type="email"],
    textarea {
        width: 90%;
    }

    footer {
        flex-direction: column-reverse;
    }

    footer section {
        width: 85%;
    }

    footer p { 
        font-size: 1em;
    }

	.menu-icon {
		width: 10vw;
		display: block;
		position: absolute;
		top: 3em;
		right: 0;
	}

	.menu-icon span {
        font-size: 2.5em;
		line-height: 0;
	}

    .stylizedSec {
        width: 80vw;
    }

	#menuToggle:checked ~ ul {
		max-height: 20vh;
	}

	#contact-card {
		width: 70vw;
	}

	#intro {
		margin-top: 3vh;
        width: 80vw;
	}

    #form-name {
        flex-direction: column;
    }

    #form-name div {
        width: 100%;
    }

    #bioPage-main {
        flex-direction: column;
    }

}

